In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime

In [2]:
df = pd.read_csv('../data/SBAnational.csv')

/Users/allison/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
df.shape

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df.groupby('State').count()['LoanNr_ChkDgt']

In [ ]:
state_top20 = df.groupby('State').count()['LoanNr_ChkDgt'].sort_values(ascending=False)[:20]

In [ ]:
print(state_top20)

In [ ]:
len(df.groupby('Bank').count()['LoanNr_ChkDgt'])

In [ ]:
df_noNAICS = df[df['NAICS']==0]

In [ ]:
df_noNAICS.shape

In [ ]:
bank_top20 = df.groupby('Bank').count()['LoanNr_ChkDgt'].sort_values(ascending=False)[:20]

In [ ]:
print(bank_top20)

In [ ]:
len(df['NAICS'].unique())

In [ ]:
df['Sector'] = [int(str(x)[:2]) for x in df['NAICS']]

In [ ]:
df.head()

In [ ]:
test = datetime.strptime(df['ApprovalDate'][0], '%d-%b-%y')

In [ ]:
print(type(df['ApprovalDate'][0]))

In [3]:
df['ApprovalDate'] = [datetime.strptime(x, '%d-%b-%y') for x in df['ApprovalDate']]

In [4]:
df['ApprovalDate'].max()

Timestamp('2068-12-03 00:00:00')

In [ ]:
df['ApprovalFY'].unique()

In [ ]:
df.loc[df['ApprovalFY']=='1976A','ApprovalFY']='1976'

In [ ]:
df['ApprovalFY'].unique()

In [ ]:
df['ApprovalFY'] = df['ApprovalFY'].astype(int)

In [ ]:
df['newBiz'] = df['NewExist'].map({0:1, 1: 0, 2:1})

In [ ]:
df['Franchise'] = [0 if (x==1 or x==0) else 1 for x in df['FranchiseCode']]

In [ ]:
df['newBiz'].unique()

In [ ]:
df.groupby('RevLineCr').count()['LoanNr_ChkDgt']

In [ ]:
df.groupby('NewExist').count()['LoanNr_ChkDgt']

In [ ]:
df.groupby('newBiz').count()['LoanNr_ChkDgt']

In [ ]:
del df['newBiz']

In [ ]:
df['RevLine'] = df['RevLineCr'].map({0:0, 1: 1, 2:1, 3:1, 4:1, 5:1, 7:1, 'A':1, 'C':0, 'N':0, 'Q':1, 'R':1, 'T':1, 'Y':1})

In [ ]:
df.groupby('RevLine').count()['LoanNr_ChkDgt']

In [ ]:
df.groupby('LowDoc').count()['LoanNr_ChkDgt']

In [ ]:
df['LowDocu'] = df['LowDoc'].map({0:0, 1:1, 'N':0, 'Y':1})

In [ ]:
df.groupby('LowDocu').count()['LoanNr_ChkDgt']

In [ ]:
df['LowDocu'].unique()

In [ ]:
type(int('203.00'))

In [5]:
print(df['ApprovalDate'][100:105])

100   1997-04-14
101   1997-04-15
102   1997-04-21
103   1997-04-21
104   1997-02-28
Name: ApprovalDate, dtype: datetime64[ns]

In [12]:
df_1 = df.sort_values('ApprovalDate',ascending=False, inplace=True)

In [22]:
df.iloc[0,:]

LoanNr_ChkDgt                         7499310010
Name                                   T T G INC
City                           LOS ANGELES CALIF
State                                         CA
Zip                                        90028
Bank                 WELLS FARGO BANK NATL ASSOC
BankState                                     CA
NAICS                                          0
ApprovalDate                 2068-12-03 00:00:00
ApprovalFY                                  1969
Term                                          96
NoEmp                                         11
NewExist                                       0
CreateJob                                      0
RetainedJob                                    0
FranchiseCode                                  0
UrbanRural                                     0
RevLineCr                                      N
LowDoc                                         N
ChgOffDate                             26-Oct-88
DisbursementDate                       26-May-69
DisbursementGross                   $200,000.00
BalanceGross                              $0.00
MIS_Status                                CHGOFF
ChgOffPrinGr                        $159,769.00
GrAppv                              $200,000.00
SBA_Appv                            $180,000.00
Name: 720402, dtype: object

In [19]:
df['ApprovalDate'][726151]

Timestamp('2004-06-25 00:00:00')

In [28]:
df.iloc[0,8].year-int(df.iloc[0,9])

99

In [29]:
df.iloc[0,8].replace(year=1969)

Timestamp('1969-12-03 00:00:00')