In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
# import json
# import folium

In [22]:
df = pd.read_pickle('../data/pickled_loan')

In [ ]:
# df_state = df.groupby('State').mean()['Default']*100
# df_state.columns =['Default_Rate']

# url = 'https://raw.githubusercontent.com/python-visualization/folium/master/examples/data'
# state_geo = f'{url}/us-states.json'

# m = folium.Map(location=[48, -102], zoom_start=3)

# folium.Choropleth(
#     geo_data=state_geo,
#     name='choropleth',
#     data=df_state,
#     columns=['State', 'Default Rate'],
#     key_on='feature.id',
#     fill_color='YlOrRd',
#     fill_opacity=0.7,
#     line_opacity=0.2,
#     legend_name='Default Rate (%)'
# ).add_to(m)

# folium.LayerControl().add_to(m)

# m

In [ ]:
df_bank_vol = df.groupby('Bank').agg({'LoanNr':'count', 'Default': 'mean'})
df_bank_new = df_bank_vol[df_bank_vol['LoanNr']>3000].sort_values('Default',ascending=False)
df_bank_new

In [15]:
df.groupby('NewBiz').mean()['Default']*100

NewBiz
0.0    17.110914
1.0    18.602811
Name: Default, dtype: float64

In [ ]:
df.groupby('ApprovalFY').mean()['Default']*100

In [ ]:
df_grouped = df.groupby('Term').agg({'LoanNr':'count', 'Default': 'mean'})
df_grouped[df_grouped['LoanNr']>2000].sort_values('Default',ascending=False)

In [16]:
df.groupby('Franchise').mean()['Default']*100

Franchise
0    17.677325
1    15.156893
Name: Default, dtype: float64

In [ ]:
fig, ax = plt.subplots(figsize=(8,4))
plt.plot(df_ur)
ax.grid()

In [ ]:
fig, ax = plt.subplots(figsize=(8,4))
df_ur.plot.hist(bins=4)

In [28]:
df_default = df[df['Default']==1]

In [18]:
df_default.shape

(155573, 20)

In [29]:
df_nd = df[df['Default']==0]

In [20]:
df_nd.shape

(731809, 20)

In [24]:
df_nd.head()

,LoanNr,State,Bank,BankState,Sector,ApprovalDate,ApprovalFY,Term,NumEmp,NewBiz,...,UrbanRural,LowDocu,DisburseDate,DisburseGross,GrAppv,SBA_Appv,Default,grouper,U_rate,Date
0,1000014003,IN,FIFTH THIRD BANK,OH,45,1997-02-28,1997,84,4,1.0,...,0,1.0,28-Feb-99,60000.0,60000.0,48000.0,0.0,1997-02,5.2,1997-02-28
1,1000024006,IN,1ST SOURCE BANK,IN,72,1997-02-28,1997,60,2,1.0,...,0,1.0,31-May-97,40000.0,40000.0,32000.0,0.0,1997-02,5.2,1997-02-28
2,1000034009,IN,GRANT COUNTY STATE BANK,IN,62,1997-02-28,1997,180,7,0.0,...,0,0.0,31-Dec-97,287000.0,287000.0,215250.0,0.0,1997-02,5.2,1997-02-28
3,1000044001,OK,1ST NATL BK & TR CO OF BROKEN,OK,0,1997-02-28,1997,60,2,0.0,...,0,1.0,30-Jun-97,35000.0,35000.0,28000.0,0.0,1997-02,5.2,1997-02-28
4,1000054004,FL,FLORIDA BUS. DEVEL CORP,FL,0,1997-02-28,1997,240,14,0.0,...,0,0.0,14-May-97,229000.0,229000.0,229000.0,0.0,1997-02,5.2,1997-02-28

In [30]:
df_default.describe()

,LoanNr,Sector,ApprovalFY,Term,NumEmp,NewBiz,CreateJob,RetainedJob,Franchise,UrbanRural,LowDocu,DisburseGross,GrAppv,SBA_Appv,Default,U_rate,SBA_g
count,1.555730e+05,155573.000000,155573.000000,155573.000000,155573.000000,155573.000000,155573.000000,155573.000000,155573.000000,155573.000000,155573.000000,1.555730e+05,1.555730e+05,1.555730e+05,155573.0,155573.000000,155573.000000
mean,3.823897e+09,45.610022,2003.744577,56.935117,7.219877,0.299268,14.582215,17.216201,0.049957,0.980581,0.063661,1.329855e+05,1.194179e+05,8.440574e+04,1.0,5.249764,0.641456
std,2.409596e+09,22.562619,5.624419,46.488449,61.873449,0.457939,336.036388,336.339801,0.217857,0.519392,0.244150,2.124254e+05,2.126293e+05,1.567547e+05,0.0,1.112892,0.162830
min,1.000093e+09,0.000000,1968.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000e+03,1.000000e+03,5.000000e+02,1.0,3.400000,0.121900
25%,2.095255e+09,33.000000,2003.000000,29.000000,2.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,2.805500e+04,2.500000e+04,1.250000e+04,1.0,4.600000,0.500000
50%,2.843375e+09,45.000000,2006.000000,49.000000,3.000000,0.000000,0.000000,2.000000,0.000000,1.000000,0.000000,6.200000e+04,5.000000e+04,2.500000e+04,1.0,5.000000,0.500000
75%,5.425244e+09,61.000000,2007.000000,68.000000,7.000000,1.000000,2.000000,5.000000,0.000000,1.000000,0.000000,1.404170e+05,1.008000e+05,8.000000e+04,1.0,5.600000,0.820000
max,9.995973e+09,92.000000,2014.000000,461.000000,9999.000000,1.000000,8800.000000,8800.000000,1.000000,2.000000,1.000000,4.362157e+06,3.500000e+06,3.411950e+06,1.0,10.800000,1.000000

In [31]:
df_nd.describe()

,LoanNr,Sector,ApprovalFY,Term,NumEmp,NewBiz,CreateJob,RetainedJob,Franchise,UrbanRural,LowDocu,DisburseGross,GrAppv,SBA_Appv,Default,U_rate,SBA_g
count,7.318090e+05,731809.000000,731809.000000,731809.000000,731809.00000,731809.000000,731809.000000,731809.000000,731809.000000,731809.000000,731809.000000,7.318090e+05,7.318090e+05,7.318090e+05,731809.0,731809.000000,731809.000000
mean,4.978000e+09,38.326424,2000.570266,122.409390,12.31343,0.278373,7.147962,9.460432,0.059449,0.710489,0.136851,2.165769e+05,2.090064e+05,1.639595e+05,0.0,5.588493,0.723530
std,2.524655e+09,26.851346,5.787509,79.633187,76.49693,0.448198,210.191976,210.685253,0.236463,0.660653,0.343691,2.997740e+05,2.943021e+05,2.392245e+05,0.0,1.252241,0.172791
min,1.000014e+09,0.000000,1969.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000e+03,1.000000e+03,5.000000e+02,0.0,3.400000,0.028140
25%,2.839644e+09,0.000000,1996.000000,78.000000,2.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.900000e+04,4.000000e+04,2.500000e+04,0.0,4.700000,0.500000
50%,4.663964e+09,44.000000,2001.000000,84.000000,5.00000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000e+05,1.000000e+05,7.500000e+04,0.0,5.400000,0.750000
75%,7.147334e+09,56.000000,2005.000000,180.000000,11.00000,1.000000,1.000000,4.000000,0.000000,1.000000,0.000000,2.566860e+05,2.500000e+05,1.950000e+05,0.0,5.900000,0.850000
max,9.996003e+09,92.000000,2014.000000,569.000000,9999.00000,1.000000,8800.000000,9500.000000,1.000000,2.000000,1.000000,1.144632e+07,5.472000e+06,5.472000e+06,0.0,10.800000,1.000000

In [27]:
df['SBA_g'] = df['SBA_Appv']/df['GrAppv']

In [34]:
df_state = df.groupby('State').mean()['Default']*100
df_state.sort_values(ascending=False)

State
FL    27.381011
GA    23.878430
DC    23.815461
NV    23.160419
IL    22.655502
MI    22.543523
TN    20.978037
AZ    20.709685
NJ    20.145152
SC    20.018232
NY    19.983860
MD    19.769395
KY    19.343018
NC    19.066591
TX    18.877758
VA    18.626463
CA    18.507608
LA    17.980139
DE    17.848864
CO    17.800970
UT    17.615773
IN    17.570093
AR    16.706558
AL    16.485376
OH    16.428040
WV    16.014783
MS    15.677743
OK    15.458151
OR    15.279560
HI    15.202034
MO    15.196724
PA    14.651993
ID    14.169909
CT    14.046069
WA    13.955412
MA    12.967963
KS    12.962800
WI    12.107537
MN    11.652052
IA    11.517044
RI    11.445308
AK    11.396131
NE    11.222222
NM    10.751601
NH    10.721182
ME     9.763162
SD     7.787448
ND     7.670127
VT     7.357302
WY     6.891652
MT     6.833449
Name: Default, dtype: float64

In [35]:
df.drop(['grouper','Date'], axis=1, inplace=True)

In [36]:
df.head()

,LoanNr,State,Bank,BankState,Sector,ApprovalDate,ApprovalFY,Term,NumEmp,NewBiz,...,Franchise,UrbanRural,LowDocu,DisburseDate,DisburseGross,GrAppv,SBA_Appv,Default,U_rate,SBA_g
0,1000014003,IN,FIFTH THIRD BANK,OH,45,1997-02-28,1997,84,4,1.0,...,0,0,1.0,28-Feb-99,60000.0,60000.0,48000.0,0.0,5.2,0.80
1,1000024006,IN,1ST SOURCE BANK,IN,72,1997-02-28,1997,60,2,1.0,...,0,0,1.0,31-May-97,40000.0,40000.0,32000.0,0.0,5.2,0.80
2,1000034009,IN,GRANT COUNTY STATE BANK,IN,62,1997-02-28,1997,180,7,0.0,...,0,0,0.0,31-Dec-97,287000.0,287000.0,215250.0,0.0,5.2,0.75
3,1000044001,OK,1ST NATL BK & TR CO OF BROKEN,OK,0,1997-02-28,1997,60,2,0.0,...,0,0,1.0,30-Jun-97,35000.0,35000.0,28000.0,0.0,5.2,0.80
4,1000054004,FL,FLORIDA BUS. DEVEL CORP,FL,0,1997-02-28,1997,240,14,0.0,...,0,0,0.0,14-May-97,229000.0,229000.0,229000.0,0.0,5.2,1.00

In [37]:
df_sector = df.groupby('Sector').mean()['Default']*100
df_sector.sort_values(ascending=False)

Sector
53    28.702120
52    28.284983
48    26.858923
51    24.790739
61    24.071134
56    23.513825
45    23.329912
23    23.270967
49    22.908093
44    22.398970
72    21.951912
71    20.637561
81    19.629986
42    19.522119
31    19.405549
54    19.081895
32    16.392980
92    15.315315
22    14.307458
33    13.585445
62    10.366289
55    10.196078
11     9.001233
21     8.392759
0      8.279792
Name: Default, dtype: float64

In [38]:
df.columns

Index(['LoanNr', 'State', 'Bank', 'BankState', 'Sector', 'ApprovalDate',
       'ApprovalFY', 'Term', 'NumEmp', 'NewBiz', 'CreateJob', 'RetainedJob',
       'Franchise', 'UrbanRural', 'LowDocu', 'DisburseDate', 'DisburseGross',
       'GrAppv', 'SBA_Appv', 'Default', 'U_rate', 'SBA_g'],
      dtype='object')