In [1]:
##### import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
# import json
# import folium

In [2]:
df = pd.read_pickle('../data/pickled_loan')

In [3]:
df_grouped = df.groupby('Sector').agg({'LoanNr': 'count', 'Default': 'mean'})

In [4]:
df_grouped

        LoanNr   Default
Sector
0       199534  0.082798
11        8921  0.090012
21        1823  0.083928
22         657  0.143075
23       65687  0.232710
31       11641  0.194055
32       17721  0.163930
33       37761  0.135854
42       48171  0.195221
44       83861  0.223990
45       41899  0.233299
48       19904  0.268589
49        2187  0.229081
51       11230  0.247907
52        9376  0.282850
53       13445  0.287021
54       66964  0.190819
55         255  0.101961
56       32079  0.235138
61        6298  0.240711
62       54629  0.103663
71       14430  0.206376
72       66960  0.219519
81       71727  0.196300
92         222  0.153153

In [5]:
df_plot = df_grouped.sort_values('Default', ascending=True)[1:6]
df_plot

        LoanNr   Default
Sector
21        1823  0.083928
11        8921  0.090012
55         255  0.101961
62       54629  0.103663
33       37761  0.135854

In [6]:
    sector_dict = {11: 'Agri, Forest, Fishing & Hunting',
                   21: 'Mining, Quarrying, and Oil & Gas',
                   22: 'Utilities',
                   23: 'Construction',
                   31: 'Manufacturing',
                   32: 'Manufacturing',
                   33: 'Manufacturing',
                   42: 'Wholesale',
                   44: 'Retail',
                   45: 'Retail',
                   48: 'Transportation & Warehousing',
                   49: 'Transportation & Warehousing',
                   51: 'Information',
                   52: 'Finance & Insurance',
                   53: 'Real Estate, Rental & Leasing',
                   54: 'Professional Services',
                   55: 'Management',
                   56: 'Administration and Support',
                   61: 'Education',
                   62: 'Health Care',
                   71: 'Arts & Entertainment',
                   72: 'Accommodation & Food Services',
                   81: 'Other Services',
                   92: 'Public Administration'}

In [8]:
df_plot = df_plot.sort_values('Default', ascending=False)

In [9]:
df_plot

        LoanNr   Default
Sector
33       37761  0.135854
62       54629  0.103663
55         255  0.101961
11        8921  0.090012
21        1823  0.083928

In [ ]:
df_plot.index

In [ ]:
df_plot.index[-1]

In [ ]:
# df_state = df.groupby('State').mean()['Default']*100
# df_state.columns =['Default_Rate']

# url = 'https://raw.githubusercontent.com/python-visualization/folium/master/examples/data'
# state_geo = f'{url}/us-states.json'

# m = folium.Map(location=[48, -102], zoom_start=3)

# folium.Choropleth(
#     geo_data=state_geo,
#     name='choropleth',
#     data=df_state,
#     columns=['State', 'Default Rate'],
#     key_on='feature.id',
#     fill_color='YlOrRd',
#     fill_opacity=0.7,
#     line_opacity=0.2,
#     legend_name='Default Rate (%)'
# ).add_to(m)

# folium.LayerControl().add_to(m)

# m

In [ ]:
df_bank_vol = df.groupby('Bank').agg({'LoanNr':'count', 'Default': 'mean'})
df_bank_new = df_bank_vol[df_bank_vol['LoanNr']>3000].sort_values('Default',ascending=False)
df_bank_new

In [ ]:
df.groupby('NewBiz').mean()['Default']*100

In [ ]:
df.groupby('ApprovalFY').mean()['Default']*100

In [ ]:
df_grouped = df.groupby('Term').agg({'LoanNr':'count', 'Default': 'mean'})
df_grouped[df_grouped['LoanNr']>2000].sort_values('Default',ascending=False)

In [ ]:
df.groupby('Franchise').mean()['Default']*100

In [ ]:
df.groupby('LowDocu').mean()['Default']*100

In [ ]:
fig, ax = plt.subplots(figsize=(8,4))
plt.plot(df_ur)
ax.grid()

In [ ]:
fig, ax = plt.subplots(figsize=(8,4))
df_ur.plot.hist(bins=4)

In [ ]:
df_default = df[df['Default']==1]

In [ ]:
df_default.shape

In [ ]:
df_nd = df[df['Default']==0]

In [ ]:
df_nd.shape

In [ ]:
df_nd.head()

In [ ]:
df_default.describe()

In [ ]:
df_nd.describe()

In [ ]:
df['SBA_g'] = df['SBA_Appv']/df['GrAppv']

In [ ]:
df_state = df.groupby('State').mean()['Default']*100
df_state.sort_values(ascending=False)

In [ ]:
df.drop(['grouper','Date'], axis=1, inplace=True)

In [ ]:
df.head()

In [ ]:
df_sector = df.groupby('Sector').mean()['Default']*100
df_sector.sort_values(ascending=False)

In [ ]:
df.columns

In [11]:
df_loan = pd.read_pickle('../data/loan_data')
y = df_loan.pop('Default').values
X = df_loan.values
col_names = df_loan.columns

In [12]:
col_names

Index(['StateRisk', 'SectorRisk', 'Term', 'NumEmp', 'LowDocu', 'GrAppv',
       'SBA_g', 'U_rate'],
      dtype='object')