In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
df = pd.read_pickle('../data/loan_data')
df.shape

(887382, 9)

In [7]:
df.head()

,StateRisk,SectorRisk,Term,NumEmp,LowDocu,GrAppv,SBA_g,U_rate,Default
0,1,2,84,4,1.0,60000.0,0.80,5.2,0.0
1,1,2,60,2,1.0,40000.0,0.80,5.2,0.0
2,1,1,180,7,0.0,287000.0,0.75,5.2,0.0
3,1,0,60,2,1.0,35000.0,0.80,5.2,0.0
4,2,0,240,14,0.0,229000.0,1.00,5.2,0.0

In [4]:
df.groupby('Default').count()

,stateRisk,sectorRisk,Term,NumEmp,LowDocu,GrAppv,SBA_g,U_rate
Default,,,,,,,,
0.0,731809,731809,731809,731809,731809,731809,731809,731809
1.0,155573,155573,155573,155573,155573,155573,155573,155573